@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tajawal;
}
body {
  /* overflow-x: hidden; */
  direction: rtl;
}
.ant-breadcrumb-link {
  color: white !important;
  font-size: 18px !important;
}
.ant-breadcrumb-link:hover {
  background-color: transparent !important;
}
.ant-breadcrumb-separator {
  color: white !important;
  font-size: 18px !important;
}
.ant-steps-item-process .ant-steps-item-icon {
  border-color: #33835c !important;
  background-color: transparent !important;
}
.ant-steps-item-process .ant-steps-item-icon .ant-steps-icon {
  color: gray !important;
}
.ant-steps-item-finish .ant-steps-item-icon {
  background-color: #33835c !important;
}
.ant-steps-item-finish .ant-steps-item-icon .ant-steps-icon {
  color: white !important;
}
.main_container {
  width: 90% !important;
  margin: 0 auto;
}
.ant-steps-item-finish .ant-steps-item-title {
  color: #33835c !important;
}
.ant-steps-item-title {
  font-size: 18px !important;
}
.ant-steps-item-title::after {
  background-color: #33835c !important ;
}
.ant-steps-item-finish .ant-steps-item-title::after {
  background-color: #33835c !important ;
  background-color: #33835c !important ;
}
.ant-steps-item-finish .ant-steps-item-title::after {
  background-color: #33835c !important ;
}

.ant-pagination {
  justify-content: center !important;
}

.active {
  display: none;
  transition: display 4s ease-in-out !important;
}

.wrapper:hover .active {
  @apply absolute w-8 rounded-full h-8 flex items-center justify-center top-1/2 left-1/2 z-30 -translate-x-1/2 -translate-y-1/2 bg-white;
}
body::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #33835c; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /*border: 3px solid orange; creates padding around scroll thumb*/
}

/* loader */
.loader {
  --d: 22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #25b09b;
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {
    transform: rotate(1turn);
  }
}

.position {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url("../src/assets/admins_image.png");
  background-position: -360px 0%;
}

.custom {
  @apply absolute md:top-0 top-1/2 right-1/2 md:translate-x-0 translate-x-1/2 md:right-0 md:-translate-y-0 -translate-y-1/2 md:w-1/2 md:h-screen h-1/2 min-w-fit bg-white flex flex-col gap-6 justify-center items-center px-10 py-60 md:py-0 md:rounded-none rounded-lg;
}
