@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
.ant-breadcrumb-link{
  color: white !important;
   font-size: 18px !important;
}
.ant-breadcrumb-link:hover{
  background-color: transparent !important;
}
.ant-breadcrumb-separator{
  color: white !important;
  font-size: 18px !important;
}