name: Build and Deploy Angular Project to FTP

on:
  push:
    branches:
      - master  # Trigger deployment on push to the main branch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest  # Use the latest Ubuntu runner

    steps:
      - name: Checkout code
        uses: actions/checkout@v3  # Ensure compatibility with Node.js 20

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'  # Explicitly set Node.js version to 20

      - name: Install dependencies
        run: npm install

      - name: Build Angular project
        run: npm run build --prod  # Adjust as needed for your Angular build command

      - name: Install lftp
        run: sudo apt-get install lftp  # Install lftp for FTP operations

      - name: Deploy to FTP
        env:
          FTP_HOST: ${{ secrets.ftp_host }}
          FTP_USER: ${{ secrets.FTP_USER }}
          FTP_PASS: ${{ secrets.FTP_PASS }}
        run: |
          echo "Starting deployment..."
          lftp -f "
          set ssl:verify-certificate no
          open $FTP_HOST
          user $FTP_USER $FTP_PASS
          mirror --reverse --delete --verbose ./dist$/
          bye
          "
          echo "Deployment finished."
          echo "Deployment finished.${{ secrets.REMOTE_DIR   }}"
